body {
  background-color: #333;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20px;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: white;
}
/*
span {
  color: white;
}*/

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}
